.DS_Store
/vim/pack/local
/vim/tmp
/vim/.netrwhist
tags
tags-*
/tmux/local
*.retry
/composer/composer.lock
/config/coc/extensions/*
!/config/coc/extensions/package.json
/config/coc/list-*.json
/config/coc/lists
/config/coc/commands

