[submodule "vim/bundle/robotframework-vim"]
	path = vim/bundle/robotframework-vim
	url = https://github.com/mfukar/robotframework-vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-env"]
	path = vim/bundle/vim-env
	url = https://github.com/ttyz/vim-env.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/pack/ttyz/start/vim-atom-dark"]
	path = vim/pack/ttyz/start/vim-atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark.git
[submodule "vim/pack/ttyz/start/ctrlp.vim"]
	path = vim/pack/ttyz/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/pack/ttyz/start/phpcomplete.vim"]
	path = vim/pack/ttyz/start/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "vim/pack/ttyz/start/robotframework-vim"]
	path = vim/pack/ttyz/start/robotframework-vim
	url = https://github.com/mfukar/robotframework-vim.git
[submodule "vim/pack/ttyz/start/supertab"]
	path = vim/pack/ttyz/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/pack/ttyz/start/syntastic"]
	path = vim/pack/ttyz/start/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/pack/ttyz/start/vim-commentary"]
	path = vim/pack/ttyz/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/ttyz/start/vim-env"]
	path = vim/pack/ttyz/start/vim-env
	url = https://github.com/ttyz/vim-env.git
[submodule "vim/pack/ttyz/start/vim-fugitive"]
	path = vim/pack/ttyz/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/ttyz/start/vim-multiple-cursors"]
	path = vim/pack/ttyz/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/pack/ttyz/start/vim-repeat"]
	path = vim/pack/ttyz/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
