[submodule "vim/pack/git-plugins/start/vim-atom-dark"]
	path = vim/pack/git-plugins/start/vim-atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark.git
[submodule "vim/pack/git-plugins/start/phpcomplete.vim"]
	path = vim/pack/git-plugins/start/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "vim/pack/git-plugins/start/robotframework-vim"]
	path = vim/pack/git-plugins/start/robotframework-vim
	url = https://github.com/mfukar/robotframework-vim.git
[submodule "vim/pack/git-plugins/start/supertab"]
	path = vim/pack/git-plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/pack/git-plugins/start/vim-commentary"]
	path = vim/pack/git-plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/pack/git-plugins/start/vim-env"]
	path = vim/pack/git-plugins/start/vim-env
	url = https://github.com/ttyz/vim-env.git
[submodule "vim/pack/git-plugins/start/vim-fugitive"]
	path = vim/pack/git-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/git-plugins/start/vim-multiple-cursors"]
	path = vim/pack/git-plugins/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/pack/git-plugins/start/vim-repeat"]
	path = vim/pack/git-plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/pack/git-plugins/start/vim-surround"]
	path = vim/pack/git-plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/git-plugins/opt/codi.vim"]
	path = vim/pack/git-plugins/opt/codi.vim
	url = https://github.com/metakirby5/codi.vim.git
	ignore = untracked
[submodule "vim/pack/git-plugins/start/asyncrun.vim"]
	path = vim/pack/git-plugins/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "vim/pack/git-plugins/start/ale"]
	path = vim/pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/git-plugins/start/vim-gitgutter"]
	path = vim/pack/git-plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	ignore = untracked
[submodule "vim/pack/git-plugins/start/vdebug"]
	path = vim/pack/git-plugins/start/vdebug
	url = https://github.com/joonty/vdebug.git
	ignore = untracked
[submodule "vim/pack/git-plugins/start/vim-gutentags"]
	path = vim/pack/git-plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
	ignore = untracked
[submodule "vim/pack/git-plugins/start/vim-devicons"]
	path = vim/pack/git-plugins/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
	ignore = untracked
[submodule "vim/pack/git-plugins/start/ctrlp"]
	path = vim/pack/git-plugins/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
	ignore = untracked
